/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0b2429
  Left circle: #8c3d62
  Right circle: #ff8582
*/

.box {
  background-color: #030026;
  display: flex;
  align-items: center;
}

.shape {
  position: absolute;
  
  left: 70px;
  height: 155px;
  width: 155px;
  border-radius: 50%;
  background-color: #8c3d62;
  box-shadow: 100px 0 0 0 #ff8582;
}
.shape::after{
 content: '';
 position: absolute;
  height: 85px;
  width: 85px;
  rotate: 45deg;
  background-color: #030026;
  top: 35px;
  left: 85px;
  border-radius: 0px 100%  0px 100%;

}
