/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #1e3163
  Soap: #ff5f54
  Shadow: #bf4740
*/

.box {
  background-color: #1e3163;
  display: flex;
  
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.soap {
  content: '';
  top: 90px;
  
  position: absolute;
  height: 100px;
  width: 200px;
  background-color: #ff5f54;
  border-radius: 15px;
  box-shadow: 
  0 20px 0 0 #bf4740;
  
}
.soap::after {
  content: '';
  top: 30px;
  left: 30px;
  position: absolute;
  height: 40px;
  width: 140px;
  background-color: #bf4740;
  border-radius: 30px;
  
  
}