/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  background: #4893d2
  shape:#063a86
*/

.box {
  background-color: #4893d2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shape {
  width: 100px;
  height: 250px;
  background-color: #063a86;
  
}

.shape::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 165px;
  width: 70px;
  height: 70px;
  background-color: #4893d2;
  rotate: 45deg;
  
}
.shape::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 165px;
  width: 70px;
  height: 70px;
  background-color: #4893d2;
  rotate: 45deg;
  
}