/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0B2429
  Yellow: #F3AC3C
  Olive: #998235
*/

.box {
  background-color: #0b2429;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eye{

  width: 200px;
  height: 200px;
  background-color: #998235;
 rotate: 45deg;
  border-radius: 50% 0 50% 0px;
}


.eye::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 30px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #F3AC3C;
   box-shadow:  0 0 0 20px #0b2429; 
}
.eye::after {
  content: '';
  position: absolute;
  top: 75px;
  left: 75px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0b2429;;

}
